.jumbotron {
    background-image: url(../../images/preview_image-700x350.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    text-align: center;
    font-family: "Arcade"
}
.lead {
    font-family: "Arcade";
    color: #333333;
}
footer {
    text-align: center
}

@font-face {
    font-family: "Arcade";
    src: url("../../fonts/RetroGaming.ttf")
}

