.jumbotron {
    background-image: url(../../images/preview_image-700x350.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    text-align: center;
}

footer {
    text-align: center
}
