.jumbotron {
    background-image: url(../../images/preview_image-700x350.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    text-align: center;
    font-family: "Arcade"
}

.lead, .btn {
    font-family: "Arcade";
    color: #333333;
}

.modal-title, p {
    color: #333333;
    padding: 10px;
    margin: 10px;
}

footer {
    position: fixed;
}

#footer {
    font-family: "Arcade";
    font-size: 1rem;
    color: white;
}

@font-face {
    font-family: "Arcade";
    src: url("../../fonts/RetroGaming.ttf")
}

