.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.toolytip:hover .toolytipdata {
  display: inline-block;
}


.toolytipdata {
  display: none;
  background: black;
  color: white;
  margin-top: -8px;
  margin-left: 10px;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  width:200px;
}

.toolytip {
  margin:0px;
}

p.toolytip-body-text {
  color: white;
  font-family: 'Arcade';
  font-size: 12px !important;
  text-transform: uppercase;
  padding-left: 0px
}

nav {
  background-color: #333333 !important;
}

body {
  /* background-color: #222222; */
  /* background-image: url("./images/body_battern.png"); */
  background-image: url("./images/bg-img.png");
  background-size: cover;
}

#stat-container {
  margin-top: 40px;
}

.col {
  padding: 0;
}

/* .row .col.s3 {
  cursor: pointer;
  padding: 0;
} */

/* li {
  margin: 0;
  padding: 0;
} */

li.inv-item {
    cursor: pointer;
    padding: none;
}

.inventory-item {
  width: 100%;
  margin-bottom: 8px;
  cursor: pointer;
}

.event-text {
  color: white;
  padding: 0 20px;
}

.inventory-item:hover {
  transform: scale(1.2); 
  border: 3px solid white;
}

.inventory-item:active {
  transform: scale(1.2); 
  border: 3px solid orange;
}

a:hover {
  text-decoration: none;
  color: goldenrod;
}

.event-image {
  max-width: 600px;
  max-height: 336px !important;
}

.event-img-file {
  width: 100%;
}

p#inventory {
  color: white;
border-bottom: 1px solid goldenrod;
padding: 0;
}

.option-button {
  margin-left: 20px;
  margin-bottom: 10px;
  padding: 7px;
  color: white;
  font-family: 'Arcade';
  background-color: #333333;
  text-transform: uppercase;
  border: 2px solid gray;
}

.option-button:focus {
  margin-left: 20px;
  color: white;
  font-family: 'Arcade';
  background-color: #333333;
  text-transform: uppercase;
  border: 2px solid gray;
}

.option-button:hover {
  margin-left: 20px;
  color: #333333;
  font-family: 'Arcade';
  background-color: goldenrod;
  text-transform: uppercase;
  border: 2px solid goldenrod;
}



.logo-img {
  max-width: 200px;
  margin-top: 25px;
}

.inventory-col {
  border: 1px solid goldenrod;
  border-left: none;
  padding-top: 20px;
  background-color: #282c34;
}

p {
  color: white;
  font-family: 'Pixel';
  text-transform: uppercase;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 0;
}

h5 {
  color: white;
  font-family: 'Pixel';
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 2px;
}

h4 {
  color: white;
  font-family: 'Pixel';
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 2px;
}

.credit-title {
  font-size: 16px;
}

/* .right-align {
  padding-right: 10px !important;
}

.left-align {
  padding-left: 10px !important;
} */

p #hp-value {
  padding-left: 0 !important;
}

.row {
  /* border: 1px white solid; */
  max-width: 1200px;
}

.row .game {
  margin: 0 auto;
}

.row .col {
  padding: 0;
}

.game-col {
  border: 1px solid goldenrod;
}

.player-col {
  border: 1px solid goldenrod;
  border-right: none;
  background-image: url("./images/pixel_brick.png");
  background-size: contain;
}

.player-pic-container {
  margin-top: 20px;
}

.player-pic {
  width: 100%;
  max-width: 150px; 
  /* border-radius: 100%; */
  /* border: 3px solid white; */
  margin: 0 auto !important;
  /* box-shadow: 3px 3px 10px .9 black; */
}

.progress {
  height: 15px;
  border-radius: 0;
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgb(28, 59, 117);
  /* border: solid goldenrod; */
  border-top: 1px;
  border-bottom: 1px;
}

.determinate {
  background-color: rgb(48, 160, 224) !important;
  /* border-radius: 0; */
}

#player-name {
  font-family: 'Pixel';
  color:white;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 40px;
}

.player-job {
  font-family: 'Arcade';
  color:white;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.s5ths {
  background: contain;
  
}

.char-select {
  border: none;
  min-height: 400px !important;
  border: 1px solid white;
  background-image: url("./images/pixel_brick.png");
  cursor: pointer;
}

.char-select:hover {
  transform: scale(1.05);
  border: 1px solid goldenrod;
  cursor: pointer;
}

.char-select:focus {
  transform: scale(1.05);
  border: 4px solid rgb(23, 182, 23);
}

.continue-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.continue-btn:focus {
  background: none;
  border: none;
  cursor: pointer;
}

.continue-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.continue-btn h4:hover{
  color: goldenrod;
  cursor: pointer;
}

/* .s5ths:hover {
  transform: scale(1.05);
  border: 1px solid goldenrod;
} */

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
  margin-top: 20px;
}

.row .col.s5ths {
  width: 20%;
}

.game {
  margin-top: 50px;
}

.text-window {
  background-image: url("./images/dark-bg-texture.png");
  /* border: 1px solid goldenrod; */
  border-top: none;
  padding: 20px 0;
  min-height: 270px;
}

/* .text-window, .event-image {
  min-width: 200px;
  border: 1px solid white;
  max-width: 602px;
  min-width: 602px;
} */

@font-face {
  font-family: 'Pixel';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/I-pixel-u.ttf');
}

@font-face {
  font-family: 'Arcade';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/RetroGaming.ttf');
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
font-family: 'Pixel';
text-transform: uppercase;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
